body, html
{
  height: 100%;
  background-color: #4286f4;
  color: white;
  font-family: 'Robotico', sans-serif;
}

#wrapper
{
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#navbar
{
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 5;
  width: 100%;
  text-align: center;

  vertical-align: middle;
}

.navFixed
{
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
}

.navbarDefault
{
  background-color: rgba(66,134,244, 1); /*0.95 alpha if preferable*/
}

.navbarAlt
{
  background-color: rgba(255, 255, 255, 0.95);
}

.navbarAlt .button
{
  color: #4286f4;
}

a:hover
{
  color: #4286f4;
}

.buttonHover
{
  color: #4286f4;
}

.buttonHoverAlt
{
  color: white;
}

#navbar .button
{
  border: 2px solid white;
  border-radius: 0px;
  transition: 0.5s;
  z-index: 5;
  margin: 5px; /*change to rem or w/e*/
  /*margin-top: 20px;*/
  font-size: 12px;
  position: relative;
  transition: 0.5s;
  /*width: 140px;*/
  width: 130px;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar .button:after
{
  content: "";
  background-color: white;
  position: absolute;
  bottom : 0;
  left: 0;
  height: 0%;
  width: 100%;
  transition: 0.5s;
  transform-origin: bottom center;
  z-index: -1;
}

#navbar .button:hover:after
{
  height: 100%;
}

#landingContainer
{
  height: 100vh;
  text-align: center;
  width: 100%;
  left: -2px;
}

#landingContainer:before
{
  content: ' '; /*this is the problem*/
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  z-index: -2;
}

#landingWrap
{
  max-height: 90%;
  max-width: 90%;
  width: 100%;
  min-height: 216px;
  display: inline-block;
  vertical-align: middle;
}

h1,h2,h3,h4
{
  font-family: 'Montserrat', sans-serif;
}

h1
{
  font-size: 6rem;
  font-weight: bold;
}

#aboutWrapper
{
  background-color: white;
  color: #4286f4;
  font-size: 20px; /*scaling rem or w/e*/
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
  text-align: center;

}

#aboutWrapper .row
{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

#aboutContainer
{
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#aboutContainer .row
{
   padding: 2%;
}

#aboutContainer p
{
  text-align: left;
}

#aboutTitle
{
  margin-bottom: 0px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#portfolioWrapper
{
  background-color: #4286f4;
  color: white;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin: 0 auto;
}

#portfolioContent
{
  width: 100%; /*PROBLEM*/
  max-width: 1000px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#portfolioTitle
{
  text-align: center;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.projectRow
{
  width:100%;
  padding-top: 30px;
  padding-bottom: 30px;

}

.rowFirst
{
  border-bottom: 2px solid white;
}

.project
{
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.projectImageContainer
{
  margin: 1%;
  height: 300px;
  width: 300px;
  min-width: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  display: inline-block;
  border: 2px white solid;
  margin-left: 10px !important;
}

.projectAlt
{
  float: right;
}
.projectDescAlt
{
  margin-left: 10px !important;
}

.projectLink
{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.projectImage
{
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

.projectImageOverlay
{
 position: absolute;
 padding: 5px;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 bottom: 0px;
 width: 100%;
 background-color: rgba(66,134,244, 0.9); /* 0.9 alpha */
 overflow: hidden;
}

.projectImageOverlay img
{
  position: relative;
  height: 32px;
  width: 32px;
  padding-top: 5px;
  z-index: 2;
}

.projectImageTitle
{
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  font-size: 20px;
  color: white;
}

.projectImageDesc
{
  margin-bottom: 0px;
  font-size: 12px;
  color: white;
}

.projectDescription
{
  max-width: 600px;
  text-align: left;
}

.projectDescription h4
{
  text-align: center;
  padding-bottom: 15px;
}
/*.contactRow
{
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
*/
#contactWrapper
{
  color: #4286f4;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: white;
}

#contactContent
{
  padding-left: 30px;
  padding-right: 30px;
  max-width: 900px;
  margin: 0 auto;
}

#contactTitle
{
  text-align: center;
}

.form
{
  color: white;
  font-size: 18px;
}

#contactNumber
{
}

.contactSubHead
{
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.contactText
{
  text-align: center;
}

.lineStyled
{
  border-top: 1px #4286f4 solid;
  border-bottom: 1px #4286f4 solid;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#contactDetails
{
  height: 300px;
}

textarea {
    resize: none;
}

.otherLinks
{
  margin-top: 40px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.otherLinks img
{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-rightL: 20px;
}

::-webkit-input-placeholder
{ /* Chrome */
  color: lightgray;
}
:-ms-input-placeholder
{ /* IE 10+ */
  color: lightgray;
}
::-moz-placeholder
{ /* Firefox 19+ */
  color: lightgray;
  opacity: 1;
}
:-moz-placeholder
{ /* Firefox 4 - 18 */
  color: lightgray;
  opacity: 1;
}

.titleHR
{
  margin-top: 5px;
  margin-bottom: 30px;
  min-width: 250px;
  max-width: 250px;
  border-top: 1px #4286f4 solid;
}

.titleHRInv
{
  margin-top: 5px;
  margin-bottom: 30px;
  min-width: 250px;
  max-width: 250px;
  border-top: 1px white solid;
}


@media only screen and (max-width:500px) {
  .aboutImage
  {
    display: none;
  }
  #aboutContainer p
  {
    text-align: center;
  }
}

@media only screen and (max-width: 655px) {
  #buttonContainer
  {
    max-width: 400px;
    margin: 0 auto;
  }
}
